*{
    overflow-x: hidden;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: poppins;
}
.left{
    
    width: 234px;
    height: 52px;
  
    font-family: 'Poller One';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #009A7E;
        margin-left: 20px;
        /* position: absolute;
        left: 31px; */
}
nav{
    
    height: 76px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right{

height: 67px;
width: 750px;



}
.right ul li img{
    height: 39px;
    width: 42px;
    padding-top: .5rem;
}
.right ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  
    
}
.right ul li{
    list-style: none;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
    
        line-height: 24px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo p{
    font-family: sora;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
}

.logo{
    
    text-align: center;
    margin-top: 40px;
}
.form{
font-family: poppins;
top: 4px;
left: 614px;
}
.form input[type="text"]{
    border-radius: 10px;
    
    background: transparent;
    
}
.item{
    margin-top: 46px;
}
#loc{
    width: 197px;
    padding: 1rem;
    border-radius: 10px;
    border: #7B9691 solid 2px;
}
#pts{
    width: 100px;
    padding: 1rem;
    border-radius: 10px;
    border: #7B9691 solid 2px;
}
#img{
    border: 2px solid black;
    height: 200px;
    width: 200px;
border-radius: 10px;
}
input[type=file]::file-selector-button{
    position: relative;
    top: 80px;
}
/* input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

} */
.drop-container {
    width: 270px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #7B9691;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
.btn{
    /* border-radius: 10px;
    background-color: #4CAF50;
    font-size: 15px;
    padding: 2px 21px;
    color: white;
    border: none; */
    font-size: 1rem;
        background-color: #009A7E;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        width: 10.5rem;
        padding: .8rem 1rem;
        font-weight: 500;
        border: none;
}
.map__iframe {
    display: flex;
    width: 100%;
    height: 400px;
    border: 1px solid #c2c2c2;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 1rem;
}
label{
    font-size: 1.5rem;
}
.footer {
    height: 100%;
    margin: 0;
    background-color: #000;
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem;
}

.footer_elements {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
}

.footer_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 1rem;
    height: auto;
}

#header {
    padding-bottom: 1rem;
    font-size: large;
    font-weight: 600;
}

.element {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1rem;
}


.mainLoginInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins', sans-serif;
}

.contacts {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.input_fields {
    display: flex;
    justify-content: space-between;
}

.copyright {
    padding: 3rem;
    font-size: 1rem;
}
.ft{
    padding: 0.5rem;
        border-radius: 10px;
}
.submit_btn button{
    margin-left: 0.5rem;
}
#specific {
    position: relative;
    top: 1rem;
    left: 7rem;
}